{% extends "layout.html" %}

{% block title %}
    Add Events
{% endblock %}

{% block main %}

    <h1 class="mb-3">Add an Event</h1>

    <form action="/addevents" method="post">

        <div class="form-group">
                <input class="form-control" name="eventname" placeholder="Event Name" type="text">
                <input class="form-control" name="location" placeholder="Location" type="text">
                <input class="form-control" name="otherinfo" placeholder="Additional Info" type="text">
                <input class="form-control" name="contact" placeholder="Contact Email" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>

    </form>

{% endblock %}