{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/transport" method="post">
        <a href="https://www.lyft.com/login">
            <button class="btn btn-primary" type="submit">Click Here to be Redirected to Lyft!</button>
        </a>
    </form>

    <form action="/transport" method="post">
        <a href="https://www.uber.com/sign-in">
            <button class="btn btn-primary" type="submit">Click Here to be Redirected to Uber!</button>
        </a>
    </form>
{% endblock %}

