{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <img src = "https://pbs.twimg.com/profile_images/1063591416918552576/lg72DZIS_400x400.jpg" alt = "Lyft">
    <form action="/transport" method="post">
        <a href="https://www.lyft.com/login">
            <button class="btn btn-primary" type="submit" formaction="https://www.lyft.com/">Click Here to be Redirected to Lyft!</button>
        </a>
    </form>
    <br>
    <br>

    <img src = "https://pbs.twimg.com/profile_images/697918062138433536/YpWQjGdP_400x400.png" alt = "Uber">
    <form action="/transport" method="post">
        <a href="https://www.uber.com/sign-in">
            <button class="btn btn-primary" type="submit" formaction="https://www.uber.com/">Click Here to be Redirected to Uber!</button>
        </a>
    </form>
{% endblock %}

